.fondo{
    --color:white;
    --background:black;
    
}

.textoCentrado{
    text-align:center;
}

.background{
    --background: url("../../../assets/images/404.jpg") no-repeat center center / cover;
    
}